html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-family: cursive;
}

a {
    text-decoration: none;
}

/** Header ***/

header {
    background-color: #000;
    color: #F0FFF0;
}

header a {
    color: #F0FFF0;
    text-transform: capitalize;
}

.header-title a {
    color: #0CF;
}

.desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.right-nav {
    display: flex;
}

.right-nav {
    margin-right: 10px;
}

.nav-link {
    padding: 5px;
}

.nav-link a {
    font-size: 1.1rem;
}

.nav-link.active {
    border: 1px solid #0CF;
    border-radius: 5px;
}

/** News Detailed Pages **/
.container {
    max-width: 80%;
    margin: auto;
    padding: 20px 0 40px;
}

.container img {
    float: left;
    margin: 0 20px 10px 0;
    width: 40%;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
}

.container p {
    line-height: 1.5;
    margin: 10px 0;
}

hr {
    border: 1px solid #0CF;
    margin-bottom: 20px;
}


/** Headlines **/
.headline-container {
    margin: 25px 0;
    padding: 10px 0;
}
.main-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.main-box img {
    width: 100%;
    border-radius: 50%;
}

.image-box {
    width: 18%;
}

.small-box {
    width: 70%;
}

.small-box h1 {
    vertical-align: middle;
}

.small-box a {
    color: #000;
}

/** Footer **/

h3 {
    color: #0CF;
    font-size: 1.5rem;
    padding-right: 10px;
}

p {
    margin: 0;
}

footer {
    background-color: black;
    color: #FFF;
    padding: 20px 30px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -20px;
}

.about {
    margin-bottom: 10px;
}

.about p, .contact p {
    text-align: justify;
    line-height: 1.5;
}

.footer-image {
    display: flex;
    align-items: center;
}

.footer-top img {
    width: 30px;
}

.newsletter p, .social p {
    margin-top: 0;
}

.footer-form {
    display: flex;
    align-items: center;
}

.footer-form input {
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.footer-form button {
    padding: 10px 7px;
    color: #FFF;
    background-color: #0CF;
    outline: none;
    border: none;
    cursor: pointer;
}

.contact img {
    width: 25px;
}

.num {
    text-decoration: underline;
    margin-bottom: 5px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 678px) {
    .desktop-nav, .right-nav {
        display: block;
    }

    .desktop-nav {
        padding: 10px 30px;
    }

    .container img {
        width: 100%;
    }

    .main-box {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .main-box img {
        border-radius: 0;
    }

    .image-box {
        width: 100%;
    }

    .small-box {
        width: 100%;
    }
}